:root {
	/* CSS HEX */
	--imperial-red: #e63946ff;
	--honeydew: #f1faeeff;
	--powder-blue: #a8dadcff;
	--celadon-blue: #457b9dff;
	--prussian-blue: #1d3557ff;
}

.btn {
	background-color: var(--celadon-blue);
	border-color: black;
}

.light_visualizer {
	color: white;
	background-color: black;
}

nav {
	padding: 10px;
	background-color: var(--prussian-blue);
	color: var(--honeydew);
	top: 0;
	position: absolute;
}

footer {
	width: 100%;
	height: 100px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

h1 {
	text-align: center;
}
h5 {
	text-align: center;
}

/* Add padding around light cards in LightVisualizer */
.light_card {
	padding: 10px;
}

/*
Google fonts
*/
#root {
	font-family: "Lora", serif;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Playfair Display', serif; */
}
